:root {
  --transparent-white: rgba(250, 250, 250, 0.4);
  --home-color: #cdebf9;
  --bookmark-color: #fffab7;
  --form-color: #ffd1e3;
  --profile-color: #ecfadc;
  --fs-400: 0.9rem;
  --fs-500: 1.1rem;
  --fs-600: 1.5rem;
  --fs-900: 1.75rem;
}

body {
  margin: 0;
  background-image: url(../assets/hahaha.jpg);
  background-image: url("../assets/hahaha.jpg");
}

* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0;
  font-size: var(--fs-900);
}

header,
footer {
  position: fixed;
  width: 100%;
  z-index: 1;
}

header {
  top: 0;
  padding: 20px;
  background-color: var(--transparent-white);
  box-shadow: 0px 05px 20px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(4px);
  text-align: center;
  color: black;
}

main {
  padding: 95px 20px 80px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

section {
  position: relative;
  padding: 10px;
  margin-bottom: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-weight: lighter;
  width: 400px;
}

.footer {
  bottom: 0;
  background-color: var(--transparent-white);
  box-shadow: 0px 05px 20px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: space-between;
}

.footer__icon {
  height: 70px;
  padding: 20px;
  object-fit: scale-down;
}

.footer__link {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__link.footer__link--active {
  background-color: var(--active-color);
}
